<p id="notice"><%= notice %></p>

<p>
  <strong>内容</strong>
  <%= @event.title %>
</p>

<p>
  <strong>何時から</strong>
  <%= @event.start %>
</p>

<p>
  <strong>何時まで</strong>
  <%= @event.end %>
</p>

<%= link_to '編集する', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %>
